body {
    background-color: #FFFF66;
}

header, nav, main, footer {
    background-color: #99CCFF;
    margin: 10px;
    padding: 10px;
}

main > article {
    background-color: #CCFF99;
    margin: 10px;
    padding: 10px;
}

header > h1 {
    color: blue;
    text-align: center;
}

a:hover {
    background-color: #FFFF66;
}